{{ define "main" }}
{{- partial "subheader.html" .}}
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <h2 class="is-size-2 has-text-weight-bold">{{ .Params.heading1 }}</h2>
                <div class="divider"></div>
                <p class="block">{{ .Params.serviceintro | safeHTML }}</p>
            </div> 
            <div class="column is-5 px-5">
                <img src="{{ $.Site.BaseURL }}img/reee.jpg" class="has-shadow" alt="">
            </div>
        </div>
</section>

<section class="section is-small">
        <div class="container">
        <h2 class="is-size-2 has-text-weight-bold">{{ .Params.heading2 }}</h2>
        <div class="divider"></div>
        <p class="block">{{ .Params.heading2sub }}</p>
        <div class="py-5"></div>
        <div class="columns my-5">
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                    <svg class="feature_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#money-bill-wave"></use>
                      </svg>
                    <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.process1 }}</h3>
                    <p class="has-text-centered has-font-size-small">{{ .Params.process1_desc }}</p>
                </div>
                
            </div>
    
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                <svg class="feature_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#chart-bar"></use>
                  </svg>
                <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.process2 }}</h3>
                <p class="has-text-centered has-font-size-small">{{ .Params.process2_desc }}</p>
            </div>
            </div>
    
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                <svg class="feature_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#umbrella-beach"></use>
                  </svg>
                <h3 class="is-size-4 has-text-centered has-text-weight-bold">{{ .Params.process3 }}</h3>
                <p class="has-text-centered has-font-size-small">{{ .Params.process3_desc }}</p>
            </div>
                </div>
        </div>
    </div>
</section>
{{- partial "cta.html" .}}
{{ end }}